.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 10px;
    background-color: #00488b;
    transition: width 0.3s;
}
.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #fff;
}
.sidebar .description{
    font-size: 14px;
}
.sidebar .nav-link:hover{
    background-color: #d8a602;
}
.sidebar .sub-menu{
    background-color: #023565;
    padding-left: 3%;
}
.main-content{
    height: 100%;
    margin-left: 200px;
    padding: 20px;
    align-items: center;
    
}
.main-content{
    height: 100%;
    margin-left: 200px;
    padding: 20px 50px;
    
}
.conteiner{
    background-color: #eee; 
}
.form-group label{
    
    background-color: #eee;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 120%;
    
}
.form-group input{
    margin-top: 3px;
    margin-bottom: 3px;

    
}
.header{
    background-color: #eee;
    padding: 10px;
    display: flex;
}
fieldset {
	border:1px dashed #CCC;
	padding:10px;
	margin-top:20px;
	margin-bottom:20px;
}
h2{
    text-align: center;
    padding: 20px;
    background-color: aqua;
}
.conteudo{
    text-align: center;
    padding: 10px;
}
.user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    text-align: right;
    
}
.user_avatar {
    
    width: 50px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}

.user_infos {
    display: flex;
    flex-direction: column;
}

.user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}
item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

@media (max-width: 480px) {
    .sidebar{
        width: 60px;
    }
    .sidebar .description{
        display: none;
    }
    .sidebar .nav-link{
        justify-content: center;
    }
    .main-content{
        margin-left: 60px;
    }
    
}
